*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* logo image */
#logoimg{

        width: 240px;
    height: 60px;
}


/* logo img ends */

/* navbar start */
nav{
    background-color: pink;
}
nav li:hover {
    background-color: rgb(248, 26, 92);
    border-radius: 4px;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}
.nav-link:hover{
   
    color: rgb(14, 1, 1);
    
}
/* navbar start */

/* search bar */
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -36px;
    border: solid 2px black;
}       
.btn0:hover{
    background-color: black;
    transition:2s;
}
.btn0{
    height: 40px;
    width: 41%;
    outline: none;
    border:none;
    background-color: rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
/* search bar end */
/* section starts */

.imge{
   top:20%;
    display: inline-block;
    position:absolute;
    right: 7%;
}
.main{
    background-color: pink;
    
    height: 80vh;
}
.main h1{
    font-size: 4.5rem;
    font-weight:700;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin-top: 205px;
    margin-left: 10%;
}
.main p{
    margin-top: 30px;
    color:#555;
    margin-left: 10%;
    font-size: 1.3rem;
}
.explore p{
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgb(248, 26, 92);
display: inline-block;
position: absolute;
left: 2.3%;
height: 35px;
border-radius: 10px;
width: 160px;
text-align: center;
color: black;
}

.explore:hover p{
    background-color: rgb(14, 1, 1);
    color: white;
        transition:2s;
        transform:translateX(20px);
}

/* section ends */

/* category Features  */
.img3{
    
    height: 450px;
    display: flex;
    flex-direction: row;
    padding-left: 13%;
}
.category{
    display: inline-block;
    margin: 70px 40px 100px 40px;
}
.category:hover{
    transition:2s;
    transform:translateY(20px);
}
/* category img end */

/* Featured product */
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
} 
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
   transition:transform 0.5s;
}

.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    
}
.title::after{
    content: '';
    background:#ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;

}
.col-4 p{
    font-size: 15px;
}
.fa{
    color: #ff523b;
}
/* Featured product ends */


.car1:hover{
   
    transition:2s;
        transform:translateX(20px);
}
.col-4:hover{
    transform: translateY(-7px);
    cursor: pointer;
}

/* offer */

.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
    box-shadow: 0 0 20px 0px rgb(0,0,0,0.1);
   
}
.offer p{
    margin-top: 40%;
}
.offer-img{
    padding: 50px;
    width: 700px;
    height: 550px;
}
small{
    color:#555;
    margin-bottom: 30px;
}
.col-2{
   
    margin-left: 200px;
    width: 484px;
    
}
.btn2{
    background-color: #ff523b;
    text-align: center;
    padding: 5px;
    border-radius:10px ;
    margin-top: 20px;
   
    width: 100px;
}
.btn2 a{
    text-decoration: none;
    color: black;
}

/* testimonial */
.testimonial{
    
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(0,0,0,0.1);
    cursor: pointer;
    transition: 0.5s;
    
    margin: 0px 42px;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-weight: 16px;
}
.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

/* brands */

.brands{
    margin: 100px auto;
    
}
.col-5{
    width: 160px;
    
}
.col-5 img{
width: 100%;
cursor: pointer;
filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/* footer */
.footer{
 background: #000;
 color: #8a8a8a;   
 font-size: 14px;
 padding: 60px 0 20px;
}
.footer p{
    color:#8a8a8a ;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}
.footer-col-1{
    flex-basis: 30%;
}